<h2>About Us</h2><br>
<div class="left-content">
  <h4>What Matters Most: "Established 1999"</h4>
  <div class="bodytext">
    Mindfire Solutions started in October of 1999, with the purpose of providing expert software services globally, and has steadily grown to its 1000-seat facilities at 2 engineering centers.
  </div>
  <div class="bodytext"><br>
    In its heart and soul, Mindfire is a software service provider, with unrelenting focus on 
    <a href="offshore-small-team-software-development.htm">
      small-team offshore software development
    </a> using 
    <a href="agile-methods-at-mindfire.htm">
      Agile methods for distributed teams
    </a>, all amid a unique 
    <a href="culture-at-mindfire.htm">
      Mindfire culture
    </a>.
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    We are clear in our vision of building a software engineering powerhouse, and we do not spend time and energy in activities which are not our core competence.<br><br>
    Our vision is "to be a globally respected, professional and innovative software services and technology company".<br><br>
    Our mission statement reinforces our vision: "Imagine. Think. Plan. Act. Deliver. Improve.".
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    During past 17 years, we have successfully delivered 
    <a href="projects.htm" target="_blank">
      2000+ engagements
    </a> with 
    <a href="clients.htm" target="_blank">
      500+ clients
    </a>.
  </div>
  <div class="bodytext">&nbsp;</div>
  <h4 class="bodytext">A Short History of Time</h4>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    Soon after we started in 1999, there was the huge hullabaloo of Y2K which fizzled out. We got a few projects and worked diligently, taking each day as it came while keeping an eye on the future.
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    Then the dot-com bust and 9/11 happened. The IT/software industry in India saw massive slowdown, and a number of companies shut down. We trudged on.
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    We stabilized and started growing in the mid-2000s again. Having survived the early-2000 downturn, we were determined to not let future events affect us. When the 2009 recession hit, we came through unscathed.
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    From a position of doing anything we came across (could start-ups be choosers?), we changed course in 2013. We took a strong stand that we would engage only with quality clients, do quality work, and hire quality people.
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    Thus we stand here today, a focused group of dedicated people, an organization that proudly chose to stick to its knitting!
  </div>
  <div class="bodytext">&nbsp;</div>
  <h4 class="bodytext">Some Spectacular Numbers</h4>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    We have a few clients who have been working with us back from when we started (that's 17 years!), and a good number of clients who have worked with and loved us for more than 10 years!
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    We have worked with clients across generations. Seriously, some have spanned generations of a family!
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    A band of 10 people have been with Mindfire since the beginning! 10% of our people have been with us for more than 10 years! And 40% of our people have been at Mindfire for at least 5 years!
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    Oh, and about 10 couples found and married each other within Mindfire! Talk about varied kinds of success ;)
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">
    These are astounding numbers when you consider churn in tech - both clients and people change preferences as soon as something is anything less than ideal!
  </div>
  <div class="bodytext">&nbsp;</div>
  <div class="bodytext">We must have done something right. Thank you.</div>
  <div class="bodytext"><br><br>In this section, please read about :&nbsp;</div>
  <div class="bodytext">
    <ul>
      <li><strong>Our <a href="organization.htm">organizational beliefs</a></strong></li>
      <li><strong>Our&nbsp;<a href="management.htm">management</a>&nbsp;that lends strength</strong></li>
      <li><strong style="font-size: 15px;">Our world-class dedicated <a href="facilities.htm">facilities</a></strong></li>
      <li>
        <strong>Our purpose: <a href="knowledge-at-mindfire.htm">knowledge</a>, <a href="innovation-at-mindfire.htm">innovation</a>, <a href="people-at-mindfire.htm">people </a>&amp; <a href="society-at-mindfire.htm">society</a>.</strong>
      </li>
    </ul>
  </div>
</div>