<div class="col-md-6">
    <h1>Contact us</h1>
</div>
<div class="col-sm-7">
  <h5 style="margin-bottom:7px;">CONTACT SALES, <span style="color:#F00">NOW!</span></h5>
  <p>
    <span>US East Coast: &nbsp;&nbsp;+12486861424</span>
    <br><span>US West Coast: +14152266334</span>
    <br><span>(Email) <a href="mailto:sales@mindfiresolutions.com"><strong>sales@mindfiresolutions.com</strong></a></span><br>
  </p>
  <h5 style="margin-bottom:7px;"><span>CAREER OPPORTUNITIES (<span style="color:#F00">JOBS</span>)</span></h5>
    <p>
      <span>Click Here to <a href="http://www.mymindfire.in/AddMyProfile.aspx"><strong>Add Your Profile</strong></a> For Our Review!&nbsp;</span>
  <!---<br><span>(Fax) &nbsp;&nbsp;&nbsp;+1 248.498.5957</span>---><br>
    </p>

  <h5 style="margin-bottom:0px;"><span>Office Locations - India, USA</span></h5>
  <div class="col-sm-6 trim-padding">
    <h5>NOIDA (NORTH INDIA)</h5>
    <p>Mindfire Solutions<br>6th &amp; 7th Floors, Assotech One<br>
    C-20/1/1A, Sector 62<br>
    Noida - 201309, India</p>
    
    <br>
    <h5>USA Sales Office</h5>
    <p>
      Mindfire LLC<br> 1890 Crooks, Suite 340<br> Troy, MI - 48084<br> (phone) +12487400611<br> (fax) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+12484985957
    </p>
    
    </div>

    <div class="col-sm-6 trim-padding">
      <h5>BHUBANESWAR (EAST INDIA)</h5>
      <p>
        Mindfire Solutions <br> 10th Floor, DLF Cybercity,<br> Infocity Area,<br> Bhubaneswar - 751024, Odisha, India.
      </p>
    
      <br>
      <h5>UK Sales Office</h5>
      <p>
        Mindfire Solutions<br> Kemp House<br> 152-160 City Road<br> London EC1V 2NX<br> (phone) &nbsp;+44-20-71938352   
      </p>
    </div>

    <div>
      <h5>Social Connect</h5>
          
  <!--Socialmedia Area Starts--> 
      <div class="socialicons mb-3">
        <a href="https://plus.google.com/111970111220820687030?prsrc=3" class="fa fa-google-plus text-danger mx-1" target="_blank"></a> 
        <a href="http://www.linkedin.com/company/28168" class="fa fa-linkedin text-primary mx-1" target="_blank"></a> 
        <a href="http://twitter.com/mindfires" class="fa fa-twitter text-info mx-1" target="_blank"></a> 
        <a href="http://www.facebook.com/home.php#!/MindfireSolutions" target="_blank" class="fa fa-facebook mx-1" style="color:darkblue;"></a> 
        <a href="https://www.youtube.com/user/MindfireSolutions" class="fa fa-slideshare text-secondary mx-1" target="_blank"></a> 
        <a href="http://www.mindfiresolutions.com/blog/" class="fa fa-wordpress text-secondary mx-1" target="_blank"></a>
      </div>
  <!--Socialmedia Area Ends-->
    </div>
  </div>
  <h5 class="ml-3">Location In Maps</h5>
  <div class="mapouter">

    <div class="gmap_canvas">
      <iframe width="800" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Mindfire%20Solutions&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>
    <style>.mapouter{position:relative;text-align:right;height:300px;width:750px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:750px;}
    </style>
</div>

