$(document).ready(function(){
	$("#article_title").keyup(function(){
		if($("#article_title").val().trim() == "")
			$("#title-length").slideUp().html("");
		else	
			$("#title-length").slideDown().html("<span class='text-info float-right' style='font-size: 13px;'>" + (40 - $("#article_title").val().length) + "/40</span>")
	});
	$(".comment-field").keyup(function(){
		if(this.value.trim() == "")
			$(this.nextElementSibling).slideUp().html("");
		else	
			$(this.nextElementSibling).slideDown().html("<span class='text-info float-right' style='font-size: 13px;'>" + (500 - this.value.length) + "/500 </span>")
	});

});