.new-article{font-family: times new roman; font-weight: bold; font-size: 30px;}
.bottom10{margin-bottom: 10%;}
.top10{margin-top: 10%; }
.width60{width: 60%; font-family: times new roman;}
.custom-alert{color: red; text-align: center}
.custom-notice{color: green; text-align: center;}
.left{margin-left: 10%;}
.center{text-align: center;}
.full-width{width: 100%;}
.button-font{font-size: 15px; font-family: times new roman;}
.rsize{resize: none; width: 100%}
.not-found{margin-left: 45%; margin-top: 10%; color: red; font-family: times new roman;}
.button{background-color: grey; color: white;}
.img-size{height: 234px; width: 100%; }
.text35{font-size: 35px;}
.yield-div{width: 65%; border-radius: 2%; box-shadow: black; height: auto; padding: 3%; background-color: white; border: solid lightgrey 1px;}
.left3{margin-left: 3%;}
.sidebox-left{margin-left: -5%; }
.side-div{width: 35%;}
.padding3{padding: 3%; border-radius: 2%;}
.comment-font{font-family: times new roman; color: black;}