$(document).ready(function(){
	$("#report-<%=@report.id%>").remove();	
	$.ajax({ 
		type: "GET", 
		url: '/reports/update_notice_board',
		dataType: "json",
		success: function(data) {
			if(data["total"] > 0) {
				pluralizeReport = "Reports";
				if(data["total"] == 1) report = "Report";

				$("#notification-counts").html("<span class='text-danger menu-font'>" + data["total"] + " new " + pluralizeReport + "</span>");
				$("#notification-items").html("");
				data["new_reports"].forEach(append_list)
			} else {
				$("#notification-div").html("");
			}
						
		}
	});
});

function append_list(item) {
	pluralizeReport = "Reports";
	if(item["reports"] == 1) report = "Report";

	$("#notification-items").append("<div class='col-md-7 text-truncate'><a class='text-info' href='/articles/" + item["slug"] + "/reports'>" + item["title"] + "</a></div>");
	$("#notification-items").append("<div class='col-md-3'>" + item["reports"] + " " + pluralizeReport + "</div><br>");
}