<footer class="site-footer top20">
  <div class="container">
    <div class="row mb-6">
      <div class="col-md-5">
        <h3>About Us</h3>
        <p class="mb-4">
          <%= image_tag(image_path('default.jpg'), class: 'img-fluid') %>
        </p>

        <p>Lorem ipsum dolor sit amet sa ksal sk sa, consectetur adipisicing elit. Ipsa harum inventore reiciendis. <%= link_to 'Read more...', page_show_path('about') %></p>
      </div>
      <div class="col-md-6 ml-5">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-6">
              <h3>Contact</h3>
              <ul class="list-unstyled">
                <li><a href="pages/contact"></a></li>
              </ul>
                <span>
                    Phone: 7209747878<br>
                    Toll Free: 18779297878<br>
                    Email: info@choicescreening.com<br>
                    <%= link_to 'Contact us', page_show_path('contact') %>
                </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-5 float-right">
                <h3>Social</h3>
                <ul class="list-unstyled footer-social">
                  <li><a href="https://www.facebook.com/"><span class="fa fa-facebook"></span> Facebook</a></li>
                  <li><a href="https://twitter.com/"><span class="fa fa-twitter"></span> Twitter</a></li>
                  <li><a href="https://www.instagram.com/"><span class="fa fa-instagram"></span> Instagram</a></li>
                  <li><a href="https://www.linkedin.com/"><span class="fa fa-linkedin"></span> Linkedin</a></li>
                  <li><a href="https://www.youtube.com/"><span class="fa fa-youtube-play"></span> Youtube</a></li>
                  
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>