<header role="banner">
        <%= render partial: 'layouts/navbar' %>

        <nav class="navbar navbar-expand-md  navbar-light bg-light">
          <div class="container">
            
           
            <div class="collapse navbar-collapse" id="navbarMenu">
              <ul class="navbar-nav mx-auto">
                
                

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="category.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tags</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <% ActsAsTaggableOn::Tag.all.each do |tag| %>
                      <%= link_to tag.name, tag_path(tag.name), class: 'dropdown-item' %>
                    <% end %>
                  </div>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
      </header>